<ion-view view-title="Login" name="login-view">
  <ion-content>
    <div class="row">
      <div class="col col-center">
        <i class="fa fa-connectdevelop fa-5x"></i>
        <h4 class="login-title">Web base</h4>
      </div>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
          <input type="text" placeholder="E-mailaddress" ng-model="vm.user.email">
      </label>
      <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="vm.user.password">
      </label>
    </div>
    <button class="button button-block button-full button-positive" ng-click="vm.login()">Login</button>
  </ion-content>
</ion-view>
