<ion-modal-view ng-controller="UsersInviteController as vm">
	<ion-header-bar class="bar bar-header bar-positive" ng-init="vm.modal = modal">
		<h1 class="title">Invite user</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="E-mailaddress" ng-model="vm.email">
			</label>
			<button class="button button-block button-positive" ng-click="vm.invite()">
				Invite
			</button>
		</div>
	</ion-content>
</ion-modal-view>
