<ion-view view-title="Users">
  <ion-nav-buttons side="primary">
    <button class="button button-clear button-default" ng-click="vm.invite_modal.show()">
      <i class="icon icon ion-plus"></i>
    </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.reload()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="user in vm.users" class="item-button-right">
        <h2>{{user.name}}</h2>
        <p>{{user.email}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
