<ion-view view-title="Dashboard">
  <ion-content>
    <div class="card widget">
      <div class="item item-text-wrap">
        <i class="fa fa-users"></i>
        <span class="text">3</span>
      </div>
    </div>
  </ion-content>
</ion-view>
